[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"
click = "*"
pandas = "*"
numpy = "==1.22.0"

[dev-packages]

[requires]
python_version = "3"
